.base-header {
  background: none;
  box-shadow: none;

  .wrap-header .header-accounts {
    .suggest {
      color: purple;
      text-shadow: none;
    }

    .mypage,
    .logout {
      text-shadow: none;
    }
  }
}

.book-layer {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;

}

.book-layer-right {
  margin: 0;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  background: linear-gradient(163.22deg,
      rgba(152, 199, 148, 0.88) 14.88%,
      rgba(73, 165, 154, 0.88) 92.17%),
    #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.book-layer-left {
  margin: 0;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: white;
  box-sizing: border-box;
}


.mypage-layout {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mypage_wrap {
  display: flex;
  justify-content: center;
  min-width: 1400px;
  padding-top: 90px;
  height: 100%;
}

.profile_wrap {
  box-sizing: border-box;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: nowrap;

  .profile {
    display: flex;
    flex-direction: column;

    // .book-img {
    // width: 50px;
    // height: auto;
    // margin-left: 10px;
    // } 
    .workbook {
      width: 95%;
      height: 35px;
      left: 82px;
      top: 137px;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 34px;
      letter-spacing: -0.015em;
      color: #49a59a;
    }

    .profile-box {
      position: relative;
      width: 90%;
      height: 192.84px;
      background: gainsboro;
      border-radius: 10px;

      .profile-img {
        margin: 15px 20px;
        width: 149px;
        height: 157px;
        left: 92px;
        top: 194px;
        background: #FFFFFF;
        border-radius: 10px;
      }

      .profile-txt {
        position: absolute;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
      }

      #walkroad-count {
        width: 249px;
        height: 35px;
        left: 263px;
        top: 194px;
        margin-top: 14px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 36px;
        letter-spacing: -0.015em;
        color: #49a59a;
      }

      #profile1,
      #profile2,
      #profile3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 30px;
        letter-spacing: -0.015em;
        color: #98c794;
      }

      #edit-profile,
      #edit-myinfo {
        display: inline-block;
        margin-top: 5px;
        margin-right: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 24px;
        /* identical to box height, or 267% */

        letter-spacing: -0.015em;
        text-decoration-line: underline;
        color: #757575;
      }
    }
  }

  .walkroad-posts {
    width: 95%;

    .walkroad-posts-header {
      width: 90%;
      height: 28px;
      display: flex;
      margin: 10px;
      align-items: center;
      justify-content: space-between;

      .registered-posts-btn,
      .liked-posts-btn {
        background-color: gainsboro;
        padding: 15px 10px;
        border-radius: 15px 15px 0px 0px;
        flex-shrink: 0;
        margin: 0px 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 36px;
        letter-spacing: -0.015em;
        color: rgb(97, 90, 82);
      }

      // a.registered-posts-btn:link, a.liked-posts-btn:link {
      //   background-color:rgba(73, 165, 154, 0.88);
      // }    
      // a.registered-posts-btn:visited, a.liked-posts-btn:visited {
      //   background-color:rgba(73, 165, 154, 0.88);

      // a.registered-posts-btn:hover, a.liked-posts-btn:hover {
      //   background-color: goldenrod;
      // }
      // a.registered-posts-btn:active, a.liked-posts-btn:active {
      //   background-color: goldenrod;
      // }

    }

    .post-search-btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      #search-posts {
        position: relative;
        margin-left: 30px;
        height: 23px;
        width: 150px;
        border-radius: 5px;
        border: 0.3px solid #dddddd;
        font-size: 11px
      }

      #search-posts-btn {
        position: absolute;
        width: 20px;
        height: 20px;
        border: none;
        background: transparent;
        cursor: pointer;
      }

      .searchimg {
        position: absolute;
        width: 15px;
        right: 10px;
        bottom: 2px;
      }
    }
  }
  
  
  .registered-posts,
  .liked-posts {
    border-radius: 15px 0px 0px 15px;
    padding: 15px;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
    max-height: 80%;
    
    .registered-post,
    .liked-post {
      flex-shrink: 0;
      margin: 15px;
      position: relative;
      width: 260px;
      height: 92px;
      background: #ffffff;
      border: 0.5px solid #ECECEC;
      box-sizing: border-box;
      border-radius: 10px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      
      .hide {
        display: none;
      }

      .registered-img,
      .liked-img {
        position: absolute;
        margin: 15px;
        width: 60px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 10px;
      }

      .post-txt {
        position: absolute;
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 40%;
        margin-top: 10px;

        #title-focus {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: 5px;
          width: 162px;
          height: 24px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: -0.015em;
          color: #000000;
        }

        span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 106px;
          height: 24px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          line-height: 20px;
          letter-spacing: -0.015em;
          color: #98C794;
        }

        #post-show {
          width: 100px;
          height: 24px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 20px;
          letter-spacing: -0.015em;
          text-decoration-line: underline;
          color: #B8B8B8;
        }

        .liked-link {
          display: flex;
          align-items: flex-end;

          #username-profile {
            text-align: right;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 80px;
            height: 24px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: -0.015em;
            color: purple;
          }
        }
      }
    }
  }
}


a:hover {
  color: var(--deepgreen) !important;
  cursor: pointer;
}


.map_wrap {
  width: 50%;
  position: relative;
  margin-top: 27px;
  box-sizing: border-box;
  padding: 0 20px;

  .map-input {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
  }
}

.custom_typecontrol {
  display: flex;
  position: absolute;
  top: 70px;
  right: 70px;
  width: 105px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 3px;
  z-index: 1;
}

.custom_zoomcontrol {
  position: absolute;
  top: 115px;
  right: 70px;
  width: 37px;
  height: 66px;
  border-radius: 3px;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.hide {
  display: none;
}

.mypage-btn {
  display: flex;
  justify-content: flex-start;
}

.nav-up {
  top: -66px;
}

.line {
  margin: 20px 0px;
  width: 90%;
}