@import '../../../../maps/static/maps/scss/components/line/line-mid.scss';

.profile-container {
    padding-top: 150px;

    p {
        width: 543px;
        height: 39.86px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.015em;
        color: #98C794;
    }

    #profile-form {
        display: flex;
        flex-direction: column;
        #profile-feature,
        #profile-likehour,
        #profile-introduce {
            width: 380px;
            height: 40px;
            border: none;
            background: #F3F1F2;
            border-radius: 10px;
            padding: 0 15px;
        }
        .profile-feature,
        .profile-likehour,
        .profile-introduce {
            margin: 3px;
        }
    }
    label {
        display: flex;
        align-items: flex-end;
        width: 370px;
        height: 50px;
        font-family: 'Nanum Gothic', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.015em;
        color: #98C794;
        padding: 5px;
    }
    
    input {
        padding-left: 8px;
        box-sizing: border-box;
    }
    .edit-btn {
    width: 200px;
    height: 43px;
    margin-top: 70px;
    margin-bottom: 50px;
    background: linear-gradient(180deg, #49A59A 0%, #98C794 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    color: white;
    justify-content: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
}

label.profile-desc {
    display: flex;
    font-size: 12px;
    color: var(--yellow);
    justify-content: flex-start;
    align-items: flex-end;
    height: 10px;
}

