@import '../../../../maps/static/maps/scss/components/btn/btn-long.scss';

h1 {
    .logo {
        position: relative;
        width: 128px;
        height: 133px;
        display: flex;
        margin: auto;
        top: 179px;
    }

    .line {
        position: relative;
        width: 653px;
        height: 37px;
        display: flex;
        margin: auto;
        top: 200px;
    }
}

.form-group {
    position: relative;
    height: 28px;
    width: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    top: 250px;
    background: #FFFFFF;
    border-radius: 5px;
}

.loginbtn {
    
}

.mdl-navigation__link {
    position: relative;
    display: flex;
    margin: auto;
    width: 184px;
    height: 44px;
    top: 330px;
}