h1.logo {
    width: 128px;
    height: 133px;
    left: 656px;
    top: 179px;
    }
h1.line {
    position: absolute;
    width: 653px;
    height: 37px;
    left: 392.8px;
    top: 328.96px;
        }