@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap');

// basic settings
// @import "reset.scss";
// @import "variables.scss";


// components import
// @import "components/nav_bar/nav_bar.scss";
// @import "components/components.scss";
// @import "components/line/line-short.scss";
// @import "components/line/line-mid.scss";
// @import "components/line/line-long.scss";
// @import "components/input/input-short.scss";
// @import "components/input/input-mid.scss";
// @import "components/input/input-long.scss";


// screens import  
// @import "screens/map.scss";
// @import "screens/index.scss";
// @import "screens/new.scss";
// @import "screens/show.scss";
// @import "screens/update.scss";


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

body { 
    width: 100%;
    height: 100%;
    animation: fadein 2s;
}

.body-layout {
    width: 1070px;
    margin-right: 13%;
    margin-left: 13%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.mdl-layout__content {
	padding: 16px;
}

a {
	text-decoration: none;
}