{% extends 'base.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/scss/checkpw.css' %}"/>
{% endblock style %}
{% block content %}
<center><div class="checkpw-container">
<h1>CHECK PASSWORD</h1>
<img class="line-mid" src="{% static 'maps/img/line.png' %}">
<form id="checkpw-form" method="POST" action="{%url 'checkpw' %}">
{% csrf_token %}
<div class="checkpw">
    <h3 class="checkpw-title">
    <label for="password">비밀번호 확인</label>
    </h3>
    <input id="password" name="password" type="password" value="" placeholder="비밀번호를 입력하세요."/>
</div>
<div>
    <input class="input-btn" type="submit" value="입력"/>
</div>
</form>
</div></center>
<script type="module" src="{% static 'accounts/js/checkpw.js' %}"></script>
{% endblock content %}
