@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
    
}
.base-header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    //fixed, background-color 수정 예정
    position: fixed;
    background: linear-gradient(180deg, #FFFFFF 0%, #98c7947e 1213.94%);
    z-index: 9;


    .wrap-header {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin: 13px 65px 13px 65px;

        .header-search {
            width: 280px;
            height: 40px;
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
            align-items: center;
    
            a { 
                font-size: 14px;
                color: #6B6B6B;
                justify-content: center;
                font-family: 'Nanum Gothic', sans-serif;
                font-weight: 600;
                
            }

            a:hover {
                color: var(--deepgreen);
            }

            .logo-img {
                width: 45px;
                height: 35px;
            }
        }
        .header-accounts {
            width: auto;
            height: 50px;
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 10px;
            box-sizing: border-box;
    
            a {
                margin-left: 30px;
                font-size: 14px;
                color: #6B6B6B;
                text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
                font-family: 'Nanum Gothic', sans-serif;
                font-weight: 600;

            }

            a:hover {
                color: var(--deepgreen);
            }

            .suggest { 
                font-size: 16px;
                color: #E5C05B;
            }
    
        }

    }

    
}
