@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

@keyframes shake {
    0% {transform: rotate(2deg);}
    33% {transform: rotate(-2deg);}
    66% {transform: rotate(2deg);}
    100% {transform: rotate(2deg);}
}
@keyframes move { 
    from { transform : translateY(0px); } 
    50% { transform : translateY(-10px); } 
    to { transform : translateY(0px); } }

.green-box {
    position: relative;
    width: auto;
    height: 100vh;
    background: linear-gradient(172.14deg, rgba(73, 165, 154, 0.04) 23.42%, rgba(152, 199, 147, 0.774) 108.17%), #FFFFFF;

    .index-message {
        position: absolute;
        top: 22%;
        right: 66%;
        color: var(--green);
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 23px;
        animation : move 3s infinite;
        -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0, 0, 0.226)); color: var(--green);

        span {
            font-size: 30px;
            font-weight: 700;
        }

    }
    .index-img {
        display: relative;
        width: 100vw;
        height: 50vh;

        .main-img {
            position: absolute;
            top: 53%;
            left: 52%;
            transform: translate(-50%, -50%);
            width: 900px;
            height: 700px;
        }
    
        .main-search_map {
            position: absolute;
            width: 265px;
            height: 190px;
            top: 43%;
            left: 52%;
            z-index: 1;
        }
        .main-search_map:hover {
            animation: none;
            transform: scale(1.1);
            transition: transform 0.5s ease 0s;
        }
    
        .main-search_post {
            position: absolute;
            width: 220px;
            height: 170px;
            bottom: 60%;
            left: 57%;
            z-index: 1;
        }
        .main-search_post:hover {
            transform: scale(1.1);
            transition: transform 0.5s ease 0s;
        }
    
        .main-mypage {
            position: absolute;
            width: 210px;
            height: 157px;
            bottom: 67%;
            right: 46%;
            z-index: 1;
        }
        .main-mypage:hover {
            transform: scale(1.1);
            transition: transform 0.5s ease 0s;
        }

        .main-suggest {
            position: absolute;
            width: 270px;
            height: 210px;
            bottom: 44%;
            right: 52vw;
            z-index: 1;
        }
        .main-suggest:hover {
            transform: scale(1.1);
            transition: transform 0.5s ease 0s;
        }
    }
}

.main-search_map-box {
    position: absolute;
    top: 60%;
    left: 65%;
    z-index: 1;
}

.main-search_post-box {
    position: absolute;
    bottom: 79%;
    left: 67%;
    z-index: 1;
}


.main-mypage-box {
    position: absolute;
    bottom: 84%;
    right: 54%;
    z-index: 1;
}


.main-suggest-box {
    position: absolute;
    bottom: 42%;
    right: 65vw;
    z-index: 1;
}


.arrow-box {
    display: none;
    justify-content: flex-start;
    width: 179px;
    height: auto;
    padding: 15px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;  
    border-radius: 5px;
    background: rgba(243, 250, 207, 0.753);
    color: rgb(44, 44, 44);
    font-size: 11px;
}

.icons:hover + p.arrow-box {
    display: block;
}