.map-all {
    padding-top: 10px;
    padding-bottom: 30px;
    
}
.search-map {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: baseline;
}
select.type-select {
    display: flex;
    margin: auto;
    width: 130px;
    height: 44px;
    background: #00000004;
    border-radius: 30px 0px 0px 30px;
    border: none;
    padding: 0 20px;
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
    // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
    font-size: 12px;
    color: gray;
}

select::-ms-expand {
    display: none;
}
        
input#keyword {
    width: 500px;
    height: 44px;
    background: #EBEBEB;
    border-radius: 0px 30px 30px 0px;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
    // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#search-btn {
    margin-left: 5px;
    width: 44px;
    height: 35px;
    background: linear-gradient(180deg, #98C794 -26.67%, #49A59A 100%);
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    /* identical to box height, or 240% */
    letter-spacing: -0.015em;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nanum Gothic', sans-serif;
}


.mapbox {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .map-input {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 10px;
    
        .map-input_wrap {
            position: relative;
            width: 234px;
    
            .map-input_location {
                height: 29px;
                width: 234px;
                border-radius: 5px;
                border: 0.3px solid #dddddd;
                padding-left: 7px;
                font-size: 11px;
            }
            
            .map-input_location::placeholder {
                color: #D6D6D6;
            }
            
            .address-location-button {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 208px;
                top: 3px;
                height: 27px;
                width: 34px;
                border: none;
                background-color: var(--green);
                color: white;
                border-radius: 5px;
                font-size: 10px;
            }
            .address-location-button:hover {
                cursor: pointer;
                background-color: var(--yellow);
            }
        }
        
        .current-location-button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
            height: 30px;
            width: 33px;
            border: none;
            border-radius: 10px;
            background-color: white;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            
            :hover {
                cursor: pointer;
            }

            .current-location-img {
                height: 25px;
            }
        }
    }

    #map {
        border-radius: 5px;
    }
}


.loading-background_map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    margin-top: 30px !important;
}

.loading-msg {
    height: 100%;
}

.mapbox-map {
    height: 1000px;
    position: relative;
}

.type-control-mapbox {
    display: flex;
    position: absolute;
    width: 105px;
    height: 38px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    z-index: 1;
    top: 56px;
    right: 4px;
}

.zoom-control-mapbox {
    position: absolute;
    top: 100px;
    right: 4px;
    width: 37px;
    height: 66px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding-top: 4px;
}