@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.body-layout {
    font-family: 'Nanum Gothic', sans-serif;
}

.enroll-announce {
    color: var(--yellow);
    font-size: 24px;
    font-weight: 600;
    text-align: start;
    margin: 0 0 20px 15px;
}

.announcement {
    display: block;
    color: var(--green);
    font-size: 14px;
    font-weight: 600;
    text-align: start;
    
}
.new-announce_announce {
    width: 100%;
    height: 80px;
    left: 169px;
    top: 357px;
    margin: 10px 0;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.mapbox-new {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.map-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    padding: 15px 0 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    z-index: 2;
    background: rgb(240, 240, 240);
    padding: 10px 15px 10px 10px;
    top: 48px;
    left: 6px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px rgba(128, 128, 128, 0.548);

    p {
        font-size: 16px;
        color: #49A59A;
        margin: 0;
        

        span {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.8);
            margin-left: 8px;
        }
    }
}

#map {
    border-radius: 5px;
    z-index: 0;
}

.map_wrap {
    position: relative;
}

.marker-line_box {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 220px;
    height: 38px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    z-index: 1;

    button {
        margin-top: 3px;
        background: linear-gradient(180deg, #98C794 -26.67%, #49A59A 100%);
        border-radius: 3px;
        border: none;
        width: 50px;
        height: 32px;
        padding: 8.5px;
        color: white;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 11px;
        font-weight: 600;
    }
    button:hover {
        cursor: pointer;
    }
}

.loading_new {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50% !important;
	left: 50%;
	transform: translate(-50%, -50%);
    z-index: 7;
}

.loading-background_new {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    top: 60%;
    z-index: 7;
    
}

#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 45%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    animation: loading-bar-spinner 400ms linear infinite;
    z-index: 5;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
    z-index: 5;
}

@-webkit-keyframes loading-bar-spinner {
    0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes loading-bar-spinner {
    0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); transform: rotate(360deg); }
}

.loading-msg {
    height: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    z-index: 5;
    font-family: 'Nanum Gothic', sans-serif;
}

.new-announce_announce {
    display: flex;
    flex-direction: column;
}

.new-announce_first {
    margin-left: 12px;
    display: flex;
    height: 50%;
    padding-top: 5px;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.new-announce_second {
    margin-left: 12px;
    display: flex;
    height: 50%;
    padding-bottom: 5px;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.announce-marker, .announce-polyline {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #98C794 -26.67%, #49A59A 100%);
    border-radius: 5px;
    border: none;
    width: 42px;
    height: 27px;
    padding: 8.5px;
    color: white;
    font-size: 10px;
}

.new-announce_img {
    padding: 10px 10px 10px 5px;
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
}

.new-announce_desc {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgba(45, 45, 45, 0.8);
    margin-left: 15px;
}

.warning {
    color: rgb(255, 97, 24);
    font-weight: 600;
    text-decoration: underline;
}

.input-box{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;

    h4 {
        margin-left: 20px;
        font-size: 14px;
        color: var(--deepgreen);
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 600;
    }

    input {
        margin: 0px 10px 10px 10px;
        padding-left: 15px;
        color: rgb(119, 119, 119);
        display: flex;
        align-items: flex-start;
        font-family: 'Nanum Gothic', sans-serif;
    }

    input::placeholder {
        color: rgb(173, 173, 173);
    }
}

.input-box_wrap {
    width: 100%;
}


.input-name {
    background-color: rgba(131, 131, 131, 0.301);
    justify-content: start;
}

.name-box {
    margin: 0 5px 20px 0;
    text-align: start;
}

.title-desc-box {
    display: flex;
    margin-bottom: 10px;
    width: auto;

    .title-box {
        width: 100%;
        margin-right: 5px;
    }

    .desc-box {
        width: 100%;
        margin-left: 5px;
    }
}

.start-fin-box {
    display: flex;
    margin-bottom: 10px;
    width: auto;

    .start-box {
        width: 100%;
        margin-right: 5px;
    }
    .fin-box {
        width: 100%;
        margin-left: 5px;
    }
}

.start-fin-box {
    display: flex;
    margin-bottom: 10px;
}

.tmi-box {
    margin-bottom: 25px;
}

#save-walkroad-button {
    width: 130px;
    height: 40px;
    background: linear-gradient(180deg, #49A59A 0%, #98C794 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -0.035em;
}

.enroll-btn {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.enroll-btn:hover {
    cursor: pointer;
}

h4.title-name,
h4.title-title,
h4.title-desc,
h4.title-start,
h4.title-fin,
h4.title-tmi {
    margin: 11px 0 5px 18px;
    text-align: start;
}

// 사용자 컨트롤 - 지도
.custom_typecontrol {
    display: flex;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 105px;
    height: 38px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    z-index: 1;
}

// 사용자 컨트롤 - 줌
.custom_zoomcontrol {
    position: absolute;
    top: 46px;
    right: 4px;
    width: 37px;
    height: 66px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding-top: 4px;
}

.selected_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #98C794 -26.67%, #49A59A 100%);
    border-radius: 3px;
    top: 4px;
    border: none;
    height: 32px;
    padding: 0 8.5px;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 11px;
    margin-left: 3px;
    margin-top: 3px;
    font-weight: 600;
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: white;
    border-radius: 3px;
    top: 4px;
    border: none;
    height: 32px;
    padding: 0 8.5px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 11px;
    margin-left: 3px;
    margin-top: 3px;
    font-weight: 600;
    cursor: pointer;
}

// zoom button
.zoom-btn {
    box-sizing: border-box;
    cursor: pointer;

    img {
        height: 23px;
        width: 23px;
    }
}

.disabled {
    background: linear-gradient(180deg, #EBEBEB 0%, rgba(114, 111, 106, 0.8) 110.71%) !important;
    pointer-events: none;
}

// 마커 정보 입력
.marker-info {
    position: absolute;
    z-index: 6;
    background: rgba(0, 0, 0, 0.651);
    width: 100%;
    height: 100%;
    border-radius: 5px;

    .marker-info_location {
        margin-top: 18%;

        input {
            box-sizing: border-box;
            width: 300px;
            height: 40px;
            margin: 8px;
            background: #ebebeb;
            border: none;
            border-radius: 10px;
            padding: 10px;
        }

        button {
            margin-top: 10px;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            border: none;
            font-family: 'Nanum Gothic', sans-serif;
            font-weight: 600;
            background: black;
            color: white;
            cursor: pointer;
            
        }
    }
}

.image-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 0 0 0 10px;
}

.image-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 485px;
    height: auto;
    border: none;
    background: #F3F1F2;
    border-radius: 10px;
    padding: 20px 15px;
}

h4.title-image {
    margin: 0 0 5px 8px;
    text-align: start;
}

input#file-upload-button {
    border: none;
}

.label-file{
    display: inline-block;
    background-color: rgb(182, 182, 182);
    color: white;
    padding: 7px 10px;
    font-family: sans-serif;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.label-file:hover {
    background-color: var(--deepgreen);
}

#preview {
    border-radius: 5px;
    margin-top: 15px;
    z-index: 30;
    width: 100px;
    height: 100px;
    display: none;
}

