@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR&display=swap');

.loading-background_show {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.loading-msg-show {
    height: 105%;;
}

.body-layout-show {
    display: flex;
}

.title-ud {
    display: flex;
    justify-content: space-between;
    height: 9%;
}

.ud-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 14px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        background: var(--green);
        font-size: 12px;
        font-weight: 600;
        border-radius: 5px;
        margin-left: 3px;
        color: white;
        width: 25px;
        height: 10px;
    }
}
.post_wrap {
    display: flex;
}
.mapbox_wrap {
    width: 60%;
    position: relative;
}

.info-box{
    padding-top: 55px;
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-right: 15px;

    
}

.info_wrap {
    width: 95%;
    p {
        font-style: normal;
        font-size: 14px;
        color: gray;
    }

    // .author_wrap {
        
    // }
}

.enroll-title {
    color: var(--deepgreen);
    margin-left: 5px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    font-size: 14px;

}

.enroll-desc {
    padding: 3px 0 0px 10px;
    font-size: 16px !important;
    color: #8b8b8b;
    font-family: 'Nanum Gothic', sans-serif;
}

.line-short-show {
    display: block;
}

a.mypage {
    color: green;
    font-weight: 600;
}

a.mypage:hover {
    color: var(--green);
}

.detail_wrap {
    height: auto;
    padding-right: 20px;
    margin: 20px 0 30px 15px;
    display: flex;
    justify-content: space-between;
}

.show-title {
    color: var(--green);
    font-weight: 600;
}

.show-content {
    padding-left: 40px;
    width: 75%;
    box-sizing: border-box;


}