@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR&display=swap");
@font-face { font-family: 'SlowSlow'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/SlowSlow.woff") format("woff"); font-weight: normal; font-style: normal; }

.loading-background_show { position: absolute; background-color: rgba(0, 0, 0, 0.5); width: 100%; height: 110%; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3; }

.loading-msg-show { height: 105%; }

.body-layout-show { display: flex; width: 1070px; margin-right: 13%; margin-left: 13%; padding-top: 70px; padding-bottom: 50px; }

.ud-btn { display: flex; align-items: flex-start; justify-content: flex-start; font-size: 14px; padding: 5px 7px; }

.ud-btn a { display: flex; justify-content: center; align-items: center; padding: 8px; background: var(--green); font-size: 12px; font-weight: 600; border-radius: 5px; margin-right: 5px; color: white; width: 25px; height: 12px; }

.post_wrap { display: flex; }

.mapbox_wrap { width: 60%; position: relative; }

.info-box { padding-top: 14px; display: flex; flex-direction: column; justify-content: flex-start; width: 50%; margin-right: 0px; }

.card_wrap { width: 95%; height: auto; display: flex; flex-direction: column; background: #FFFFFF; border: 0.5px solid #ECECEC; box-sizing: border-box; padding: 30px 20px 30px 20px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; }

.card-title_wrap { display: flex; justify-content: space-between; border-bottom: 0.5px solid #ebebeb; height: auto; }

.card-body_wrap { text-align: start; height: auto; }

.title-desc_show { height: auto; }

.enroll-title { color: var(--yellow); font-family: 'Nanum Gothic', sans-serif; font-size: 24px; font-weight: 600; text-align: start; margin: 0 0 15px 10px; width: 340px; height: auto; white-space: pre-wrap; }

.enroll-desc { width: 340px; height: auto; font-size: 16px !important; color: #8b8b8b; font-family: 'Nanum Gothic', sans-serif; white-space: pre-wrap; text-align: start; box-sizing: border-box; }

.mdl-badge[data-badge]:after { background: none !important; color: #5E5E5E !important; top: -2px !important; left: 16px !important; font-size: 11px !important; font-family: 'Nanum Gothic', sans-serif !important; font-weight: 600 !important; }

.like-comment_wrap { display: flex; flex-direction: column; align-items: flex-end; }

.like-inner_show { display: flex; width: 54px; height: 25px; border: 0.5px solid #8B8B8B; box-sizing: border-box; border-radius: 30px; box-sizing: border-box; justify-content: flex-start; align-items: center; padding-left: 10px; }

.like-icon { cursor: pointer; color: #F44337; font-size: 18px !important; }

.comment-inner_show { font-family: 'Nanum Gothic', sans-serif; margin-top: 5px; display: flex; width: 54px; height: 25px; border: 0.5px solid #8B8B8B; color: gray; box-sizing: border-box; border-radius: 30px; box-sizing: border-box; justify-content: flex-start; align-items: center; padding-left: 10px; font-size: 14px; }

.comment-inner_show img { width: 16px; }

.comment-inner_show span { margin-left: 7px; font-size: 11px; color: #5e5e5e; font-weight: 600; font-family: 'Nanum Gothic', sans-serif; }

.comment_wrap { margin-top: 25px; width: 95%; height: auto; display: flex; flex-direction: column; background: #FFFFFF; border: 0.5px solid #ECECEC; box-sizing: border-box; padding: 30px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; }

.comment-input_wrap { display: flex; position: relative; width: 100%; justify-content: space-between; align-items: flex-start; height: 30px; margin-bottom: 10px; }

.comment-input_wrap .comment-count_class { padding-top: 2px; text-align: start; width: 85px; font-size: 14px; }

.comment-input_wrap .comment-input { width: 270px; height: 25px; border-radius: 50px; background: #e6e6e6; border: none; padding-left: 12px; padding-right: 28px; }

.comment-input_wrap button { position: absolute; font-size: 10px; right: 4px; top: 1px; border: none; height: 23px; width: 23px; border-radius: 30px; box-sizing: border-box; padding: 1px 0 0 1px; background: transparent; }

.comment-input_wrap button .circle_show { width: 23px; height: 23px; cursor: pointer; }

.comment-list_class { text-align: start; }

.walkroad-comment_class { margin: 10px 0 0 0; }

.line-short-show { display: block; }

a.mypage { color: green; font-weight: 600; }

a.mypage:hover { color: var(--green); }

.detail_wrap { height: auto; padding-right: 20px; margin: 20px 0 0px 15px; display: flex; justify-content: flex-start; }

.show-title { color: var(--green); font-weight: 600; width: 80px; font-size: 16px; }

.show-content { width: 75%; box-sizing: border-box; height: auto; }

.show-content .tag-content { display: inline-block; padding: 3px 5px; margin: 2px; background: rgba(97, 97, 97, 0.05); font-family: 'SlowSlow'; font-size: 23px; color: #49a59a; border-radius: 15px; border: 0px; cursor: pointer; }

.mypage_show { color: var(--deepgreen); }

.one-comment_class { display: flex; margin: 0 0 15px 0; padding-bottom: 15px; background: rgba(230, 230, 230, 0.514); border-radius: 5px; margin-top: 15px; height: auto; padding: 10px 20px; }

.comment-name { font-weight: 600; width: 68px; }

.comment-name a { color: var(--deepgreen); }

.comment-body { margin-left: 6px; font-size: 14px; }

.comment-body .comment-ment { display: flex; align-items: flex-start; width: 260px; margin-bottom: 5px; margin-left: 8px; height: auto; }

.comment-body .comment-others { display: flex; }

.comment-body .comment-others .comment-date, .comment-body .comment-others .comment-like, .comment-body .comment-others .comment-del { background: rgba(211, 211, 211, 0.459); padding: 2px 8px; border-radius: 50px; margin-right: 8px; width: auto; height: 20px; font-size: 12px; color: gray; }

.comment-body .comment-others .comment-date a, .comment-body .comment-others .comment-like a, .comment-body .comment-others .comment-del a { color: var(--deepgreen); }

.comment-body .comment-others .comment-like, .comment-body .comment-others .comment-del { cursor: pointer; }

.map-info_show { position: absolute; display: flex; flex-direction: column; align-items: flex-start; width: auto; padding: 15px 0 5px 10px; font-family: 'Montserrat', sans-serif; font-weight: 800; z-index: 2; background: #f0f0f0; padding: 10px; bottom: 20px; left: 20px; border-radius: 10px; box-shadow: 5px 5px 20px 5px rgba(128, 128, 128, 0.534); }

.map-info_show div { font-size: 16px; color: #49A59A; margin: 0; }

.map-info_show div span { font-size: 14px; color: rgba(0, 0, 0, 0.8); margin-left: 8px; font-weight: bolder; }

.material-icons, .mdl-badge, .mdl-badge—overlap, .like-badge_show { color: #F44337; font-size: 18px !important; }

.enroll-title {
    color: var(--yellow);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    margin: 0 0 15px 0;
    width: 250px;
    height: auto;
    white-space: pre-wrap;
}

.enroll-desc {
    
    width: 250px;
    height: auto;
    font-size: 14px !important;
    color: #8b8b8b;
    font-family: 'Nanum Gothic', sans-serif;
    white-space: pre-wrap;
    text-align: start;
    box-sizing: border-box;
}

 /* Modal (배경) */
.modal {
    display: none;
    position: fixed; 
    z-index: 15; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
    animation: fadein 0.5s;
}

/* Modal Content/Box */
.modal-content {
    background-color: #ffffff00;
    margin: 8% auto; 
    padding: 20px;
    width: 60%;  
    border-radius: 5px;                       
}
/* The Close Button */
.close {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: var(--deepgreen);
    text-decoration: none;
    cursor: pointer;
}

.modal-img {
    margin-left: 2%;
    border-radius: 5px;
}

#myBtn {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;

}

#myByn img {
    border-radius: 5px;
    margin-bottom: 15px;
}

#myBtn img:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease 0s;
}

div#myModal {
    display: none;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadein 0.5s;
}

/*# sourceMappingURL=show.css.map */