{% extends 'base.html' %}
{% block content %}
{% load socialaccount %}
{% load static %}
{% providers_media_js %}

{%block style%}
{% load sass_tags%}
<link rel="stylesheet" type="text/css" href="{% sass_src 'accounts/scss/login.scss' %}"/>
{%endblock style%}

<center>
<h1 class="login-h1">
  <img class="logo" src="{% static 'accounts/img/logosecond.png' %}">
  <img class="line" src="{% static 'maps/img/line.png' %}">
</h1 class="login-h1">
</center>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
  {% if form.errors %}
    <p class="login-announce login-check">아이디와 비밀번호가 일치하지 않습니다.</p>
  {% endif %}
  <div class="login-container">
    <center>
      <div class="form-group">
        <input class="form-control" id="{{ form.username.id_for_label }}" placeholder="아이디를 입력해주세요" maxlength="15" name="{{ form.username.html_name }}" type="text" />
      </div>
      <div class="form-group">
        <input class="form-control" id="{{ form.password.id_for_label }}" placeholder="비밀번호를 입력해주세요" maxlength="120" name="{{ form.password.html_name }}" type="password" />
      </div>
      <div class="form-group">
        <input class="loginbtn" type="submit" value="LOGIN">
      </div>
    </center>
  </div>
</form>

<div class="login-signup">
  <a href="{% url 'signup' %}?next={{request.path}}">회원가입 하러가기</a>
</div>

<center>
  <a class="mdl-navigation__link" href="{% provider_login_url 'google' %}">
    <img src="{% static 'accounts/img/googlelogin.png' %}" style="width: 184px; height: auto;"/>
  </a>
</center>

{% endblock content %}
