{% extends 'base.html' %}
{% block content %}
{% load socialaccount %}
{% load static %}
{% providers_media_js %}

{% load sass_tags%}
<link rel="stylesheet" type="text/css" href="{% sass_src 'accounts/scss/login.scss' %}"/>

<h1>
<img class="logo" src="{% static 'accounts/img/logo.png' %}">
<img class="line" src="{% static 'maps/img/line.png' %}">
</h1>
<form class="logininput" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="loginbtn" type="submit" value="로그인"/>
</form>
<a class="mdl-navigation__link" href="{% provider_login_url 'google' %}">
<img src="{% static 'accounts/img/googlelogin.png' %}" style="width: 184px; height: auto;"/>
</a>
{% endblock content %}
