{% extends '../base.html' %}
{% load static %}
{% block style %}
{% load sass_tags %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'mypage/scss/mypage.scss' %}"/>
{% endblock style %}

{% block content %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=84f8fca347220d053f38cd40691e54c1&libraries=services,drawing"></script>


<div class="book-layer">
</div>
<div class="mypage-layout">
    <div class="mypage_wrap">
        <div class="profile_wrap">
            <div class="profile">
                <h1 class="workbook">{{user.profile.username}}의 워크북</h1>
                <div class="profile-box">
                <img class="logo-img" src="{% static 'maps/img/logo.png' %}">
                <div class="profile-txt">
                    <div id="walkroad-count">
                        총 {{registeredWalkroads.count}} 개의 산책로를 등록했네요!
                    </div>
                    <div id="profile1">
                        {% if user.profile.feature == ''%}
                            아직 선호하는 산책로 특징을 등록하지 않으셨네요! 
                        {% else %}
                        선호하는 산책로 : {{user.profile.feature}}
                        {% endif %}
                    </div>
                    <div id="profile2">			
                        {% if user.profile.likehour == ''%}
                            선호 시간대를 등록해주세요!
                        {% else %}
                            선호 시간대 : {{user.profile.likehour}}
                        {% endif %}
                    </div>
                    <div id="profile3">
                        {% if user.profile.introduce == ''%}
                            소개글을 등록해서 자기자신을 소개해주세요!
                        {% else %}
                            소개 : {{user.profile.introduce}}
                        {% endif %}
                    </div>
                    {% if user.id == request.user.id %}
                    <div edit-btn>
                        <a id="edit-profile" href="{% url 'mypage:profile' user.id %}">프로필 수정하기</a>
                        <a id="edit-myinfo" href="{% url 'checkpw'%}">내정보 수정하기</a>
                    </div>
                    {% endif %}
                </div>
                </div>
            </div>
            <div class="walkroad-posts">
            <div class="walkroad-posts-header">
            <div "posts-header">
                <a id="registered-posts" onclick="onClickRegisteredPosts()">등록한 산책로</a>
                <a id="liked-posts" onclick="onClickLikedPosts()">좋아하는 산책로</a>
                </div>
                <div class="post-search-btn">
                <input id="search-posts" type="text">
                <button id="search-posts-btn" onclick="onClickSearchBtn()"></button>
                </div></div>

                <div class="registered-posts">
                    {% for walkroad in registeredWalkroads %}
                        <div class="registered-post">
                        <img class="registered-img" src="{% static 'maps/img/logo.png' %}">
                        <div class="post-txt">
                            <a id="title-focus" onclick="setFocusClickedPost({{ walkroad.path }})">{{ walkroad.title }}</a>
                            <span>{{ walkroad.description}}</span>
                            <a id="post-show" href="{% url 'maps:show' walkroad.id %}">상세보기</a>
                        </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="liked-posts">
                    {% for walkroad in likedWalkroads %}
                        <div class="liked-post hide">
                        <img class="liked-img" src="{% static 'maps/img/logo.png' %}">
                        <div class="post-txt">
                            <a id="title-focus" onclick="setFocusClickedPost({{ walkroad.path }})">{{ walkroad.title }}</a>
                            <span>{{ walkroad.description}}</span>
                            <div class="liked-link">
                            <a id="post-show" href="{% url 'maps:show' walkroad.id %}">상세보기</a>
                            <a id="username-profile" href="{% url 'mypage:mypage' walkroad.author.id %}">{{ walkroad.author.profile.username }}</a>
                        </div></div></div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% csrf_token %}
        <div class="mapbox map_wrap">
            <div class="map-input">
                <div class="map-input_wrap">
                    <input type="text" name="location" class ="map-input_location" id="address-location" placeholder="주소를 입력해주세요! ex) 신림로 1"/>
                    <button type="submit" id="address-location-button" class="address-location-button">설정</button>
                </div>
                <button id="current-location-button" class="current-location-button"><img class="current-location-img" src="{% static 'maps/img/location.png' %}"></button>
            </div>
            <!-- 지도타입 컨트롤 div 입니다 -->
            <div class="custom_typecontrol radius_border">
                <span id="btnRoadmap" class="selected_btn" onclick="setMapType('roadmap')">지도</span>
                <span id="btnSkyview" class="btn" onclick="setMapType('skyview')">스카이뷰</span>
            </div>
            <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
            <div class="custom_zoomcontrol radius_border"> 
                <span onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>  
                <span onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
            </div>
            {% comment %} 지도크기 {% endcomment %}
            <div id="map" style="width:80%;height:700px;">
                <div id="loading" class="loading-class">
                    <div class="loading-background loading-background_map">
                        <div id="loading-bar-spinner" class="spinner">
                            <div class="spinner-icon"></div>
                        </div>
                        <div class="loading-msg loading-msg_map">📍현 위치 파악 중!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const my_walkroads = {{ my_walkroads | safe }};
    const like_walkroads = {{ like_walkroads | safe }};

    const my_walkroad_paths = {{ my_walkroad_paths | safe }};
    const like_walkroad_paths = {{ like_walkroad_paths | safe }};
    
    let walkroads = my_walkroads;
    let walkroad_paths = my_walkroad_paths;
    
    let userAddress;
    if ("{{ request.user.is_anonymous }}" == "True") {
        userAddress = "신림로 1";
    } else {
        userAddress = "{{ request.user.profile.location | safe }}";
    }     
    const geocoder = new kakao.maps.services.Geocoder();

    const container = document.getElementById('map');
    const options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 4
    };

    const map = new kakao.maps.Map(container, options);

    let currentLocationMarker;
    let currentLocationInfowindow;

    const setCenterByCurrentLocation = true;

    let overlays = [];
</script>
<script src="{% static 'maps/js/components.js' %}"></script>
<script src="{% static 'maps/js/initial.js' %}"></script>
<script src="{% static 'maps/js/map.js' %}"></script>
<script src="{% static 'maps/js/mypage.js' %}"></script>
{% endblock content %}
