{% extends '../base.html' %}
{% load static %}
{% block style %}
{% load sass_tags %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'mypage/scss/mypage.scss' %}"/>
{% endblock style %}
{% block content %}
<div class="profile">
	<h1>{{user.username}}의 워크북</h1>
	<div class="profile-box">
		<div id="walkroad-count">
			총 {{registeredWalkroads.count}} 개의 산책로를 등록했네요!
		</div>
		<div id="">
			{% if user.profile.feature == ''%}
				아직 선호하는 산책로 특징을 등록하지 않으셨네요! 
			{% else %}
			선호하는 산책로 : {{user.profile.feature}}
			{% endif %}
		</div>
		<div id="">			
			{% if user.profile.likehour == ''%}
				선호 시간대를 등록해주세요!
			{% else %}
				선호 시간대 : {{user.profile.likehour}}
			{% endif %}
		</div>
		<div id="">
			{% if user.profile.introduce == ''%}
				소개글을 등록해서 자기자신을 소개해주세요!
			{% else %}
				소개 : {{user.profile.introduce}}
			{% endif %}
		</div>
		<a href="{% url 'mypage:profile'%}">프로필 수정하기</a>
		<a href="{% url 'checkpw'%}">내정보 수정하기</a>
	</div>
</div>
<div class="walkroad-posts">
	<a id="registered-posts">등록한 산책로</a>
	<a id="liked-posts">좋아하는 산책로</a>
	<input id="search-posts" type="text">
	<button id="search-posts-btn">검색</button>

	<div class="registered-posts">
		{% for walkroad in registeredWalkroads %}
			<div class="registered-post">
				<a href="{% url 'maps:show' walkroad.id %}">{{ walkroad.title }}</a>
				{{ walkroad.description}}
			</div>
		{% endfor %}
	</div>

	<div class="liked-posts">
		{% for walkroad in likedWalkroads %}
			<div class="liked-post hide">
				<a href="{% url 'maps:show' walkroad.id %}">{{ walkroad.title }}</a>
				{{ walkroad.description}}
				{{ walkroad.author }}
			</div>
		{% endfor %}
	</div>
</div>
<script type="module" src="{% static 'mypage/js/mypage.js' %}"></script>
{% endblock content %}
