{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="green-box">
    <div class="index_wrap">
        <div class="index-message">함께 길을 읽다, <span>워크북</span></div>
        <div class="index-img">
            <img class="main-img" src="{% static 'maps/img/book.png' %}" />
            <a href="{% url 'maps:map' %}">
                <img class="icons main-search_map" src="{% static 'maps/img/mapsearch.png' %}" />
                <p class="arrow-box main-search_map-box">
                    📜 지도에서 찾기
                    <br>
                    <br> 
                    지도에서 다양한 산책로를 살펴보세요.
                </p>
            </a>
            <a href="{% url 'maps:post' %}">
                <img class="icons main-search_post" src="{% static 'maps/img/posts.png' %}" />
                <p class="arrow-box main-search_post-box">
                    🔍 게시판에서 찾기
                    <br>
                    <br>
                    게시판에서 여러 산책로를 살펴보세요.

                </p>
            </a>
            <a class="suggest" href="{% url 'maps:new' %}">
                <img class="icons main-suggest" src="{% static 'maps/img/suggest.png' %}" />
                <p class="arrow-box main-suggest-box">
                    🌱 산책로 등록하기
                    <br>
                    <br>
                    나만의 산책로를 개척해보세요.
                </p>
            </a>
            {% if user.is_authenticated %}
                <a class="mypage" href="{% url 'mypage:mypage' user.id %}">
                    <img class="icons main-mypage" src="{% static 'maps/img/mypage_img.png' %}" />
                    <p class="arrow-box main-mypage-box">
                        📒 마이페이지
                        <br>
                        <br>
                        나만의 산책 이야기를 꾸며보세요.
                    </p>
                </a>
            {% else %}
                <a class="mypage" href="{% url 'login' %}">
                    <img class="icons main-mypage" src="{% static 'maps/img/mypage_img.png' %}" />
                    <p class="arrow-box main-mypage-box">
                        📒 마이페이지
                        <br>
                        <br>
                        나만의 산책 이야기를 꾸며보세요.
                    </p>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
