{% extends 'base.html' %}

{% load static %}

{% block content %}
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=84f8fca347220d053f38cd40691e54c1&libraries=services,drawing"></script>

    <div class="body-layout">
        <div class="map-search">
            <form action="{%url 'maps:map' %}" method="GET">
                <center>
                <div class="search-map">
                    <select class="type-select" name="type">
                    <option value="all">전체</option>
                    <option value="title">제목</option>
                    <option value="titlecontent">제목+내용</option>
                    </select>
                    <input name="keyword" id="keyword" type="text" />
                    <button name="search-btn" id="search-btn" type="submit">검색</button>
                </div>
                </center>
            </form>
        </div> 
    
        {% comment %} <p>현재 위치 주변에서 산책로를 찾아보세요! (현재 위치 허용 눌러주라는 안내 만들자!)</p> {% endcomment %}
        {% csrf_token %}
        <div class="mapbox">
            <div class="map-input">
                <div class="map-input_wrap">
                    <input type="text" name="location" class ="map-input_location" id="address-location" placeholder="주소를 입력해주세요! ex) 신림로 1"/>
                    <button type="submit" id="address-location-button" class="address-location-button">설정</button>
                </div>
                <button id="current-location-button" class="current-location-button"><img class="current-location-img" src="{% static 'maps/img/location.png' %}"></button>
            </div>
            <div id="map" style="width:100%;height:600px;">
                <div id="loading" class="loading-class">
					<div class="loading-background loading-background_map">
						<div id="loading-bar-spinner" class="spinner">
							<div class="spinner-icon"></div>
						</div>
						<div class="loading-msg loading-msg_map">📍현 위치 파악 중!</div>
					</div>
				</div>
            </div>
        </div>
    </div>

    <script>
    /////////////////////////set value//////////////////////
        const type = "{{type}}";
        const keyword = "{{keyword}}";
        const option = document.getElementsByTagName("option");
        for (var i = 0; i < option.length; i++) {
        if (option[i].value === type) {
            option[i].setAttribute("selected", "selected");
        }
        }
        const input = document.getElementById("keyword");
        input.value = keyword;
    //////////////////////////map///////////////////////////
        const walkroads = {{ walkroads | safe }};
        const walkroad_paths = {{ walkroad_paths | safe }};

        let userAddress;
        if ("{{ request.user.is_anonymous }}" == "True") {
            userAddress = "신림로 1";
        } else {
            userAddress = "{{ request.user.profile.location | safe }}";
        }     
        const geocoder = new kakao.maps.services.Geocoder();

        const container = document.getElementById('map');
        const options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 4
        };

        const map = new kakao.maps.Map(container, options);

        let currentLocationMarker;
        let currentLocationInfowindow;

        const setCenterByCurrentLocation = true;

        let overlays = [];

    </script>
    <script src="{% static 'maps/js/components.js' %}"></script>
    <script src="{% static 'maps/js/initial.js' %}"></script>
    <script src="{% static 'maps/js/map.js' %}"></script>
{% endblock content %}
