{% extends 'base.html' %}

{% load static %}

{% block content %}
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=84f8fca347220d053f38cd40691e54c1&libraries=services"></script>

    <div class="body-layout">
        {% comment %} 검색박스 위치 {% endcomment %}
        <div class="map-search"> 
        
        </div>

        {% comment %} <p>현재 위치 주변에서 산책로를 찾아보세요! (현재 위치 허용 눌러주라는 안내 만들자!)</p> {% endcomment %}
        {% csrf_token %}
        <div class="mapbox">
            <div class="map-input">
                <div class="map-input_wrap">
                    <input type="text" name="location" class ="map-input_location" id="address-location" placeholder="주소를 입력해주세요! ex) 신림로 1"/>
                    <button type="submit" id="address-location-button" class="address-location-button">설정</button>
                </div>
                <button id="current-location-button" class="current-location-button"><img class="current-location-img" src="{% static 'maps/img/location.png' %}"></button>
            </div>
            <div id="map" style="width:100%;height:600px;">
                <div id="loading" class="loading-class">
					<div class="loading-background loading-background_map">
						<div id="loading-bar-spinner" class="spinner">
							<div class="spinner-icon"></div>
						</div>
						<div class="loading-msg loading-msg_map">📍현 위치 파악 중!</div>
					</div>
				</div>
            </div>
        </div>
    <div class="body-layout">

    <script>
        let userAddress;
        if ("{{ request.user.is_anonymous }}" == "True") {
            userAddress = "신림로 1";
        } else {
            userAddress = "{{ request.user.profile.location | safe }}";
        }     
        const geocoder = new kakao.maps.services.Geocoder();

        const container = document.getElementById('map');
        const options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 4
        };

        const map = new kakao.maps.Map(container, options);

        let currentLocationMarker;
        let currentLocationInfowindow;

        const setCenterByCurrentLocation = true;
    </script>
    <script src="{% static 'maps/js/components.js' %}"></script>
    <script src="{% static 'maps/js/initial.js' %}"></script>
{% endblock content %}
