{% extends '../base.html' %}

{% load static %}
{% block content %}
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=84f8fca347220d053f38cd40691e54c1&libraries=services,drawing"></script>
	<div>
		<div class="body-layout">
			<p class="enroll-announce">🌱 공유하고 싶은 산책로를 등록해주세요.</p>
			<img class="line-long" src="{% static 'maps/img/line.png' %}" />
			{% comment %} 마커, 선 안내 {% endcomment %}
			<div class="new-announce">
				<span class="announcement">* 마커와 선을 이용해 지도 위에 경로를 표시합니다.</span>
				<div class="new-announce_announce">
					<div class="new-announce_first">
						<div class="new-announce_btn"></div>
						<div class="new-announce_img"></div>
						<div class="new-announce_desc"></div>
					</div>
					<div class="new-announce_second">
						<div class="new-announce_btn"></div>
						<div class="new-announce_desc"></div>
						<div></div>
					</div>
				</div>
			</div>
			<span>
				<button onclick="selectOverlay('MARKER')">마커</button>
				<button onclick="selectOverlay('POLYLINE')">선</button>
				<button id="undo" class="disabled" onclick="undo()" disabled>UNDO</button>
				<button id="redo" class="disabled" onclick="redo()" disabled>REDO</button>

			</span>
			{% csrf_token %}
			<div class="mapbox">
				<div class="map-input">
					<div class="map-input_wrap">
						<input type="text" name="location" class ="map-input_location" id="address-location" placeholder="주소를 입력해주세요! ex) 신림로 1"/>
						<button type="submit" id="address-location-button" class="address-location-button">설정</button>
					</div>
					<button id="current-location-button" class="current-location-button"><img class="current-location-img" src="{% static 'maps/img/location.png' %}"></button>
				</div>
			</div>
				
			<div class="map_wrap">
				<div id="map" style="width:100%;height:400px;"></div>
			</div>

			<div class="map-info">
				<p id="total-time">소요 시간 : <span>0 분</span></p>
				<p id="total-distance">총 거리 : <span>0 m</span></p>
			</div>

			<input type="text" name="username" id="username" value="{{ request.user.profile.username }}" disabled/>
			<input type="text" name="title" id="title-input" placeholder="title"/>
			<input type="text" name="description" id="description-input" placeholder="description"/>
			<input type="text" name="start" id="start-input" placeholder="start"/>
			<input type="text" name="finish" id="finish-input" placeholder="finish"/>
			<input type="text" name="tmi" id="tmi-input" placeholder="tmi"/>
			
			<button type="submit" id="save-walkroad-button">저장</button> 
		</div>
	</div>
		
	{% if user.is_authenticated %}
    <script type="text/javascript">
        const userAddress = "{{ request.user.profile.location | safe }}";
    </script>
    {% else %}
    <script type="text/javascript">
        const userAddress = "신림로 1";
    </script>
    {% endif %}

    <script src="{% static 'maps/js/components.js' %}"></script>
    <script>        
        const geocoder = new kakao.maps.services.Geocoder();

        const container = document.getElementById('map');
        const options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 4
        };

        const map = new kakao.maps.Map(container, options);

        let currentLocationMarker;
        let currentLocationInfowindow;

		const setCenterByCurrentLocation = true;
    </script>
    <script src="{% static 'maps/js/initial.js' %}"></script>
    <script src="{% static 'maps/js/new.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script type="module" src="{% static 'maps/js/axios.js' %}"></script>
{% endblock content %}
