{% extends '../base.html' %}

{% load static %}
{% block content %}
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=84f8fca347220d053f38cd40691e54c1&libraries=services,drawing"></script>
<center>
	<div>
		<div class="body-layout">
			<p class="enroll-announce">산책로 등록</p>
			{% comment %} <img class="line-long" src="{% static 'maps/img/line.png' %}" /> {% endcomment %}
			{% comment %} 마커, 선 안내 {% endcomment %}
			<div class="new-announce">
				{% comment %} <span class="announcement">  ✏️ 마커와 선을 이용해 지도 위에 경로를 표시합니다.</span> {% endcomment %}
				<div class="new-announce_announce">
					<div class="new-announce_first">
						<div class="new-announce_img">
							<img src="{% static 'maps/img/marker.png' %}" />
						</div>
						<div class="new-announce_desc">
							<span>지도 위 마커를 이용해 특이한 스팟을 찍어주세요! 클릭하면 핀이 추가되고 설명을 입력할 수 있습니다. </span>
						</div>
					</div>
					<div class="new-announce_second">
						<div class="new-announce_img">
							<img src="{% static 'maps/img/polyline.png' %}" />
						</div>
						<div class="new-announce_desc">
							<span>지도 위 선을 이용해 경로를 표시해주세요! 클릭하여 <span class="warning">출발 위치부터</span> 선 그리기를 시작합니다.</span>
						</div>
					</div>
				</div>
			</div>
	
			{% csrf_token %}
			<div class="mapbox mapbox-new">

				<div class="map-input">
					<div class="map-input_wrap">
						<input type="text" name="location" class ="map-input_location" id="address-location" placeholder="주소를 입력해주세요! ex) 신림로 1"/>
						<button type="submit" id="address-location-button" class="address-location-button">설정</button>
					</div>
					<button id="current-location-button" class="current-location-button"><img class="current-location-img" src="{% static 'maps/img/location.png' %}"></button>
				</div>
			</div>

			<div class="map_wrap">
				<div class="map-info">
					<p id="total-time">🕒ㅤ소요 시간 : <span>0 분</span></p>
					<p id="total-distance">📏ㅤ총 거리 : <span>0 m</span></p>
				</div>
				{% comment %} 마커 정보 입력 {% endcomment %}
				<div id="info-input-container" class="marker-info" style="display: none">
					<div class="marker-info_location">
						<div class="marker-info_title">
							<input type="text" name="info-title" id="info-title-input" placeholder="마커 이름을 달아주세요!"/>
						</div>
						<div class="marker-info_desc">
							<input type="text" name="info-description" id="info-description-input" placeholder="마커 설명을 달아주세요!"/>
						</div>
						<div class="marker-info-btn">
							<button type="submit" id="save-info-button" onclick="saveInfo()">저장</button> 
						</div>
					</div>
				</div>
				
				<div id="loading" class="loading_new">
					<div class="loading-background_new">
						<div id="loading-bar-spinner" class="spinner">
							<div class="spinner-icon"></div>
						</div>
						<div class="loading-msg">📍현 위치 파악 중!</div>
					</div>
				</div>
				<div class="marker-line_box">
					<button id="marker-button" onclick="selectMarker()">마커</button>
					<button id="polyline-button" onclick="selectPolyline()">선</button>
					<button id="undo" class="disabled" onclick="undo()" disabled>UNDO</button>
					<button id="redo" class="disabled" onclick="redo()" disabled>REDO</button>
				</div>
				<!-- 지도타입 컨트롤 div 입니다 -->
				<div class="custom_typecontrol radius_border type-control">
					<div id="btnRoadmap" class="selected_btn" onclick="setMapType('roadmap')">지도</div>
					<div id="btnSkyview" class="btn" onclick="setMapType('skyview')">스카이뷰</div>
				</div>
				<!-- 지도 확대, 축소 컨트롤 div 입니다 -->
				<div class="custom_zoomcontrol radius_border zoom-control"> 
					<div class="zoom-btn" onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></div>  
					<div class="zoom-btn" onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></div>
				</div>
				<div id="map" style="width:100%;height:70vh;"></div>
			</div>
			
			<div class="input-box">
				<div class="input-box_wrap">
					<div class="name-box">
						<h4 class="title-name">작성자</h4>
						<input type="text" name="username" id="username" class="input-mid-m input-name" value="{{ request.user.profile.username }}" disabled/>
					</div>
					<div class="title-desc-box">
						<div class="title-box">
							<h4 class="title-title">산책로 이름</h4>
							<input type="text" name="title" id="title-input" class="input-mid-ml" placeholder="산책로의 특징을 담은 이름을 입력해주세요."/>
						</div>
						<div class="desc-box">
							<h4 class="title-desc">산책로 한 줄 소개</h4>
							<input type="text" name="description" id="description-input" class="input-mid-ml" placeholder="해당 산책로의 특징을 소개해주세요."/>
						</div>
					</div>
					<div class="start-fin-box">
						<div class="start-box">
							<h4 class="title-start">출발위치</h4>
							<input type="text" name="start" id="start-input" class="input-mid-ml" placeholder="출발위치를 입력해주세요. ex) 서울대입구역 5번출구 앞"/>
						</div>
						<div class="fin-box">
							<h4 class="title-fin">도착위치</h4>
							<input type="text" name="finish" id="finish-input" class="input-mid-ml" placeholder="도착위치를 입력해주세요. ex) 서울대학교 정문 앞"/>
						</div>
					</div>
					<div class="tmi-box">
						<h4 class="title-tmi">TMI</h4>
						<input type="text" name="tmi" id="tmi-input" class="input-long input-long-m" placeholder="해당 산책로에 대해 하고 싶은 말을 자유롭게 작성해주세요!"/>
					</div>
					<div class="enroll-btn">
						<button type="submit" id="save-walkroad-button">등록하기</button> 
					</div>
				</div>
			</div>
		</div>
	</div>
</center>
		
	{% if user.is_authenticated %}
    <script type="text/javascript">
        const userAddress = "{{ request.user.profile.location | safe }}";
    </script>
    {% else %}
    <script type="text/javascript">
        const userAddress = "신림로 1";
    </script>
    {% endif %}

    <script src="{% static 'maps/js/components.js' %}"></script>
    <script>        
        const geocoder = new kakao.maps.services.Geocoder();

        const container = document.getElementById('map');
        const options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 4
        };

        const map = new kakao.maps.Map(container, options);

        let currentLocationMarker;
        let currentLocationInfowindow;

		const setCenterByCurrentLocation = true;
    </script>
    <script src="{% static 'maps/js/initial.js' %}"></script>
    <script src="{% static 'maps/js/new.js' %}"></script>
{% endblock content %}
