{% extends 'base.html' %}

{% load static %}
{% block content %}
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=84f8fca347220d053f38cd40691e54c1&libraries=services,drawing"></script>
<center>
    <div class="body-layout-show">

        <div class="info-box">
            <div class="ud-btn">
            {% if request.user == walkroad.author %}
                <a href="{% url 'maps:update' id=walkroad.id %}">수정</a>
                <a href="{% url 'maps:delete' id=walkroad.id %}">삭제</a>
            {% else %}
                <a href="{% url 'maps:update' id=walkroad.id %}" style="visibility: hidden">수정</a>
                <a href="{% url 'maps:delete' id=walkroad.id %}" style="visibility: hidden">삭제</a>
            {% endif %}
            </div>

            

            <div class="card_wrap">
                {% comment %} 카드 타이틀 부분 {% endcomment %}
                <div class="card-title_wrap">
                    {% comment %} 썸네일 이미지 {% endcomment %}
                    <div class="thumnail-imgbox">
                        {% if walkroad.thumbnail %}
                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn"><img title="클릭 시 원본 크기를 볼 수 있습니다." src="{{ walkroad.thumbnail.url }}" width=80 height=80> </button>
                    
                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">&times;</span>                                                               
                                <img class="modal-img" src="{{ walkroad.thumbnail.url }}" width="93%" height="auto">
                            </div>
                        </div>

                        {% else %}
                        <img src="{% static 'maps/img/image-gallery.png' %}" width=80 height=80>
                        {% endif %}
                    </div>
                    
                    {% comment %} 좌측 타이틀, 소개 {% endcomment %}
                    <div class="title-left">
                        <div class="title-desc_show">
                            <p class="enroll-announce enroll-title">{{ walkroad.title }}</p>
                            <p class="enroll-desc">{{ walkroad.description }}</p>
                        </div>
                    </div>
                    {% comment %} 우측 좋아요, 댓글{% endcomment %}
                    <div class="title-right">
                        <div class="like-comment_wrap">
                            <div class="like-inner_show">
                            {% if user.is_authenticated %}
                                <a
                                id="{{walkroad.id}}-like-button"
                                onclick="onClickLikeBtn({{walkroad.id}})"
                                class="material-icons mdl-badge mdl-badge--overlap like-icon"
                                data-badge="{{ walkroad.like_users.count }}"
                                >
                            {% if user in walkroad.like_users.all %} 
                                favorite 
                            {% else %}
                                favorite_border 
                            {% endif %}
                                </a>
                            {% else %}
                                <div
                                class="material-icons mdl-badge mdl-badge--overlap like-badge_show"
                                data-badge="{{ walkroad.like_users.count }}"
                                >
                                favorite_border
                                </div>
                            {% endif %}
                            </div>
                            <div class="comment-inner_show">
                                <img src="{% static 'maps/img/speech-bubble.png' %}"/>
                                <span id="comment-inner-count">{{ walkroad.comment_set.count }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body_wrap">
                    <div class="detail_wrap">
                        <div class="show-title">작성자</div>
                        <a class="mypage_show" href="{% url 'mypage:mypage'  walkroad.author.id %}">
                            <i class="fas fa-book"></i> {{ walkroad.author.profile.username }}
                        </a>
                    </div>
                    <div class="detail_wrap">
                        <div class="show-title">작성일시</div>
                        {% comment %}  H시 i분 {% endcomment %}
                        <div class="show-content">{{ walkroad.created_at|date:'Y / m / d'}}</div>  
                    </div>
                    <div class="detail_wrap">
                        <div class="show-title">출발위치</div>
                        <div class="show-content">{{ walkroad.start }}</div>
                    </div>
                    <div class="detail_wrap">
                        <div class="show-title">도착위치</div>
                        <div class="show-content">{{ walkroad.finish }}</div>
                    </div>
                    <div class="detail_wrap">
                        <div class="show-title">TMI</div>
                        <div class="show-content">{{ walkroad.tmi }}</div>
                    </div>
                    <div class="detail_wrap">
                        <div class="show-title">태그</div>
                        <div class="show-content">
                        {% for tag in tags %}
                        <div class="tag-content"> {{tag.content}} </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            

            {% comment %} 댓글 {% endcomment %}
            <div class="comment_wrap">
                <div class="comment-input_wrap">
                    <p id="comment-count" class="comment-count_class"><strong>✏️ 댓글 {{walkroad.comment_set.count}}개</strong></p>
                    {% if user.is_authenticated %}
                    {% csrf_token %}
                    <input id="walkroad{{walkroad.id}}-comment-input" class="comment-input" type="text" name="content" />
                    <button onclick="onAddComment({{walkroad.id}})"><i class="far fa-arrow-alt-circle-right circle_show"></i></button>
                    {% endif %}
                </div>
                <div id="{{walkroad.id}}-comment-list" class="comment-list_class" >
                    {% for comment in walkroad.comment_set.all|dictsortreversed:"like_users.count" %}
                    <div id="walkroad{{walkroad.id}}-comment{{comment.id}}" class="one-comment_class">
                        <div class="comment-name">
                            <a href="{% url 'mypage:mypage'  comment.author.id %}"><i class="fas fa-book"></i> {{ comment.author.profile.username }}</a> :
                        </div>
                        <div class="comment-body">
                            <div class="comment-ment">
                                {{ comment.content }}
                            </div>
                            <div class="comment-others">
                                <div class="comment-date">{{ comment.created_at|date:'Y/m/d H:i'}}</div>
                                {% if user.is_authenticated %}
                                <div class="comment-like">
                                    <a id="comment{{comment.id}}-like-button" onclick="onLikeComment({{comment.id}})">
                                        {{ comment.like_users.count }} Likes
                                    </a>
                                </div>
                                {% endif %}
                                {% if request.user == comment.author %}
                                <div class="comment-del">
                                    <a onclick="onDeleteComment({{walkroad.id}}, {{comment.id}})"><i class="far fa-trash-alt"></i></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>   
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% csrf_token %}
        <div class="mapbox_wrap">
            <div class="mapbox">
                <div class="map-input">
                    <div class="map-input_wrap">
                        <input type="text" name="location" class ="map-input_location" id="address-location" placeholder="주소를 입력해주세요! ex) 신림로 1"/>
                        <button type="submit" id="address-location-button" class="address-location-button">설정</button>
                    </div>
                    <button id="current-location-button" class="current-location-button"><img class="current-location-img" src="{% static 'maps/img/location.png' %}"></button>
                </div>
            </div>

            <!-- 지도타입 컨트롤 div 입니다 -->
            <div class="radius_border type-control-mapbox">
                <div id="btnRoadmap" class="selected_btn" onclick="setMapType('roadmap')">지도</div>
                <div id="btnSkyview" class="btn" onclick="setMapType('skyview')">스카이뷰</div>
            </div>
            <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
            <div class="radius_border zoom-control-mapbox"> 
                <div class="zoom-btn" onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></div>  
                <div class="zoom-btn" onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></div>
            </div>
            <div id="map" style="width:100%;height:80vh;">
                <div class="map-info_show">
                    <div id="total-time">🕒ㅤ소요 시간 : <span>{{ walkroad.time }}분</span></div>
                    <div id="total-distance">📏ㅤ총 거리 : <span>{{ walkroad.distance }}m</span></div>
                </div>
                <div id="loading">
                    <div class="loading-background_show">
                        <div id="loading-bar-spinner" class="spinner">
                            <div class="spinner-icon"></div>
                        </div>
                        <div class="loading-msg loading-msg-show">📍현 위치 파악 중!</div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</center>
    <script>
        let walkkTime = "{{ walkroad.time }}";
        let walkHour = '', walkMin = '';

        walkDistance = "{{ walkroad.distance }}";

        if (walkkTime > 60) {
            walkHour = `${Math.floor(walkkTime / 60)}시간 `;
        }
        walkMin = `${walkkTime % 60}분`;

        if (walkDistance >= 1000) {
            walkDistance = `${Math.round(walkDistance / 100) / 10} k`;
        }

        const totalTimeElement = document.getElementById('total-time');
        const totalDistanceElement = document.getElementById('total-distance');
        totalTimeElement.innerHTML = `🕒 소요 시간 : <span>${walkHour} ${walkMin}</span>`;
        totalDistanceElement.innerHTML = `📏 총 거리 : <span>${walkDistance}m</span>`;
        
         //////////////////////////map///////////////////////////
        const path = {{ walkroad.path | safe }};
        const infowindow = {{ walkroad.infowindow | safe }};

        let mappingData = {};

        let userAddress;
        if ("{{ request.user.is_anonymous }}" == "True") {
            userAddress = "신림로 1";
        } else {
            userAddress = "{{ request.user.profile.location | safe }}";
        }

        const geocoder = new kakao.maps.services.Geocoder();

        const points = path[kakao.maps.drawing.OverlayType.POLYLINE][0]["points"];
        const startPoint = points[0];
        const endPoint = points[points.length - 1];

        const container = document.getElementById('map');
        const options = {
            center: new kakao.maps.LatLng((startPoint['y'] + endPoint['y']) / 2, (startPoint['x'] + endPoint['x']) / 2),
            level: 4
        };

        const map = new kakao.maps.Map(container, options);

        let currentLocationMarker;
        let currentLocationInfowindow;

        const setCenterByCurrentLocation = false;
    </script>
    <script>
        // 모달 달기
        const modal = document.getElementById('myModal');
        const btn = document.getElementById("myBtn");
        const close = document.getElementsByClassName("close")[0];                                          

        btn.onclick = function() {
            modal.style.display = "block";
        }

        close.onclick = function() {
            modal.style.display = "none";
        }
        
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script src="{% static 'maps/js/components.js' %}"></script>
    <script src="{% static 'maps/js/initial.js' %}"></script>
    <script src="{% static 'maps/js/show.js' %}"></script>
    <script src="{% static 'maps/js/post.js' %}"></script>
    {% endblock content %}