{% extends 'base.html' %}

{% load static %}

{% block content %}
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=84f8fca347220d053f38cd40691e54c1&libraries=services,drawing"></script>
    <div class="body-layout body-layout-show">

        <div class="info-box">
            <div class="info_wrap">
                <div class="title-ud">
                    <div class="show-title">
                        <p class="enroll-announce enroll-title">🌱 {{ walkroad.title }}</p>
                        <p class="enroll-desc">{{ walkroad.description }}</p>
                    </div>
    
                    {% if request.user == walkroad.author %}
                    <div class="ud-btn">
                        <a href="{% url 'maps:update' id=walkroad.id %}">수정</a>
                        <a href="{% url 'maps:delete' id=walkroad.id %}">삭제</a>
                    </div>
                    {% endif %}
                </div>

                <img class="line-short-m line-short-show" src="{% static 'maps/img/line.png' %}">

                <div class="detail_wrap">
                    <div class="show-title">author</div>
                    <a class="mypage show-content" href="{% url 'mypage:mypage'  walkroad.author.id %}">{{ walkroad.author.profile.username }}</a>
                </div>
                <div class="detail_wrap">
                    <div class="show-title" id="total-time" >소요시간</div>
                    <div class="show-content">{{ walkroad.time }} 분</div>
                </div>
                <div class="detail_wrap">
                    <div class="show-title" id="total-distance">총 거리</div>
                    <div class="show-content">{{ walkroad.distance }} m</div>
                </div>
                <div class="detail_wrap">
                    <div class="show-title">출발위치</div>
                    <div class="show-content">{{ walkroad.start }}</div>
                </div>
                <div class="detail_wrap">
                    <div class="show-title">도착위치</div>
                    <div class="show-content">{{ walkroad.finish }}</div>
                </div>
                <div class="detail_wrap">
                    <div class="show-title">TMI</div>
                    <div class="show-content">{{ walkroad.tmi }}</div>
                </div>
            </div>
        </div>
        {% csrf_token %}
        <div class="mapbox_wrap">
            <div class="mapbox">
                <div class="map-input">
                    <div class="map-input_wrap">
                        <input type="text" name="location" class ="map-input_location" id="address-location" placeholder="주소를 입력해주세요! ex) 신림로 1"/>
                        <button type="submit" id="address-location-button" class="address-location-button">설정</button>
                    </div>
                    <button id="current-location-button" class="current-location-button"><img class="current-location-img" src="{% static 'maps/img/location.png' %}"></button>
                </div>
            </div>
            <div id="map" style="width:100%;height:700px;">
                <div id="loading">
                    <div class="loading-background loading-background-round">
                        <div id="loading-bar-spinner" class="spinner">
                            <div class="spinner-icon"></div>
                        </div>
                        <div class="loading-msg loading-msg-show">📍현 위치 파악 중!</div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <script>
        const path = {{ walkroad.path | safe }};
        const infowindow = {{ walkroad.infowindow | safe }};

        let mappingData = {};

        let userAddress;
        if ("{{ request.user.is_anonymous }}" == "True") {
            userAddress = "신림로 1";
        } else {
            userAddress = "{{ request.user.profile.location | safe }}";
        }

        const geocoder = new kakao.maps.services.Geocoder();

        const points = path[kakao.maps.drawing.OverlayType.POLYLINE][0]["points"];
        const startPoint = points[0];
        const endPoint = points[points.length - 1];

        const container = document.getElementById('map');
        const options = {
            center: new kakao.maps.LatLng((startPoint['y'] + endPoint['y']) / 2, (startPoint['x'] + endPoint['x']) / 2),
            level: 4
        };

        const map = new kakao.maps.Map(container, options);

        let currentLocationMarker;
        let currentLocationInfowindow;

        const setCenterByCurrentLocation = false;
    </script>
    <script src="{% static 'maps/js/components.js' %}"></script>
    <script src="{% static 'maps/js/initial.js' %}"></script>
    <script src="{% static 'maps/js/show.js' %}"></script>
{% endblock content %}
