{% extends 'base.html' %}

{% load static %}
{% block js %}
<script type="module" src="{% static 'maps/js/show.js' %}"></script>
{% endblock js %}
{% block content %}
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=84f8fca347220d053f38cd40691e54c1&libraries=services,drawing"></script>
<div class="body-layout">
    <div class="title-ud">
        <div class="show-title">
            <p class="enroll-announce enroll-title">🌱 {{ walkroad.title }}</p>
            <p class="enroll-desc">{{ walkroad.description }}</p>
        </div>

        {% if request.user == walkroad.author %}
        <div class="ud-btn">
            <a href="{% url 'maps:update' id=walkroad.id %}">수정</a>
            <a href="{% url 'maps:delete' id=walkroad.id %}">삭제</a>
        </div>
        {% endif %}
    </div>

    {% comment %} <div id="loading">
        <div class="loading-background">
            <div id="loading-bar-spinner" class="spinner">
                <div class="spinner-icon"></div>
            </div>
            <div class="loading-msg">📍현 위치 파악 중!</div>
        </div>
    </div> {% endcomment %}

    <img class="line-long" src="{% static 'maps/img/line.png' %}" />

    {% csrf_token %}
    <div class="post_wrap">
        <div class="mapbox_wrap">
            <div class="mapbox">
                <div class="map-input">
                    <div class="map-input_wrap">
                        <input type="text" name="location" class="map-input_location" id="address-location"
                            placeholder="주소를 입력해주세요! ex) 신림로 1" />
                        <button type="submit" id="address-location-button" class="address-location-button">설정</button>
                    </div>
                    <button id="current-location-button" class="current-location-button"><img
                            class="current-location-img" src="{% static 'maps/img/location.png' %}"></button>
                </div>
            </div>
            <div id="map" style="width:100%;height:580px;"></div>
        </div>

        <div class="info-box">
            <div class="info_wrap">
                <div class="author_wrap">
                    <p>author</p>
                    <div>{{ walkroad.author.profile.username }}</div>
                </div>
                <img class="line-short-m" src="{% static 'maps/img/line.png' %}">
                <p id="total-time">소요 시간 : {{ walkroad.time }}</p>
                <img class="line-short-m" src="{% static 'maps/img/line.png' %}">
                <p id="total-distance">총 거리 : {{ walkroad.distance }}</p>
                <img class="line-short-m" src="{% static 'maps/img/line.png' %}">
                <p>startㅤㅤㅤㅤ<span>{{ walkroad.start }}</span></p>
                <img class="line-short-m" src="{% static 'maps/img/line.png' %}">
                <p>finishㅤㅤㅤㅤ<span>{{ walkroad.finish }}</span></p>
                <img class="line-short-m" src="{% static 'maps/img/line.png' %}">
                <p>tmiㅤㅤㅤㅤ<span>{{ walkroad.tmi }}</span></p>
                <img class="line-short-m" src="{% static 'maps/img/line.png' %}">
            </div>
        </div>
    </div>
    <img class="line-long-m" src="{% static 'maps/img/line.png' %}">
    <p id="comment-count"><strong>댓글이 {{walkroad.comment_set.count}}개 있습니다</strong></p>
    <p>
        {% csrf_token %}
        <input id="walkroad{{walkroad.id}}-comment-input" type="text" name="content" />
        <button onclick="onAddComment({{walkroad.id}})">댓글 달기</button>
        <div id="{{walkroad.id}}-comment-list">
            {% for comment in walkroad.comment_set.all|dictsortreversed:"like_users.count" %}
            <p id="walkroad{{walkroad.id}}-comment{{comment.id}}">
                {{ comment.author }}: {{ comment.content }} &nbsp; &nbsp;{{ comment.created_at|date:'Y년 M d일 H:m'}}
                {% if user.is_authenticated %}
                <a id="comment{{comment.id}}-like-button" onclick="onLikeComment({{comment.id}})">
                    {{ comment.like_users.count }} Likes
                </a>
                {% endif %}
                {% if request.user == comment.author %}
                <a onclick="onDeleteComment({{walkroad.id}}, {{comment.id}})">댓글 삭제</a>
                {% endif %}
            </p>
            {% endfor %}
        </div </div> <script>
        const path = {{ walkroad.path | safe }};
        const infowindow = {{ walkroad.infowindow | safe }};

        let mappingData = {};

        let userAddress;
        if ("{{ request.user.is_anonymous }}" == "True") {
        userAddress = "신림로 1";
        } else {
        userAddress = "{{ request.user.profile.location | safe }}";
        }

        const geocoder = new kakao.maps.services.Geocoder();

        const points = path[kakao.maps.drawing.OverlayType.POLYLINE][0]["points"];
        const startPoint = points[0];
        const endPoint = points[points.length - 1];

        const container = document.getElementById('map');
        const options = {
        center: new kakao.maps.LatLng((startPoint['y'] + endPoint['y']) / 2, (startPoint['x'] + endPoint['x']) / 2),
        level: 4
        };

        const map = new kakao.maps.Map(container, options);

        let currentLocationMarker;
        let currentLocationInfowindow;

        const setCenterByCurrentLocation = false;
        </script>
        <script src="{% static 'maps/js/components.js' %}"></script>
        <script src="{% static 'maps/js/initial.js' %}"></script>
        <script src="{% static 'maps/js/show.js' %}"></script>
        {% endblock content %}