{% extends 'base.html' %}

{% load static %}

{% block content %}
<center>
    <div class="update_wrap">
        <p class="enroll-announce">🌱 산책로 정보 수정</p>
        <form id="update-form" method="POST" action="{%url 'maps:update' id=walkroad.id %}" onsubmit="createTag()">
            {% csrf_token %}
            <div class="input-box">
                <div class="input-box_wrap">
                    <div class="name-box">
                        <h4 class="title-name">작성자</h4>
                        <input type="text" name="username" id="username" class="input-mid-m input-name" value="{{ request.user.profile.username }}" disabled/>
                    </div>
                    <div class="title-desc-box">
                        <div class="title-box">
                            <h4 class="title-title">산책로 이름</h4>
                            <input type="text" name="title" id="title-input" class="input-mid-ml" value="{{ walkroad.title }}" />
                        </div>
                        <div class="desc-box">
                            <h4 class="title-desc">산책로 한 줄 소개</h4>
                            <input type="text" name="description" id="description-input" class="input-mid-ml" value="{{ walkroad.description }}"/>
                        </div>
                    </div>
                    <div class="start-fin-box">
                        <div class="start-box">
                            <h4 class="title-start">출발위치</h4>
                            <input type="text" name="start" id="start-input" class="input-mid-ml" value="{{ walkroad.start }}"/>
                        </div>
                        <div class="fin-box">
                            <h4 class="title-fin">도착위치</h4>
                            <input type="text" name="finish" id="finish-input" class="input-mid-ml" value="{{ walkroad.finish }}"/>
                        </div>
                    </div>
                    <div class="tmi-box">
                        <h4 class="title-tmi">TMI</h4>
                        <input type="text" name="tmi" id="tmi-input" class="input-long input-long-m" value="{{ walkroad.tmi }}"/>
                    </div>
                    <div class="tag-box">
						<h4 class="title-tag">태그</h4>
						<div class = "tags-box">
							<div id = "tag-list">
                            {%for tag in tags%}
                            <input type="text" name="tags" class="tag-created"  onclick="removeTag(this)" readonly="True" value="{{tag.content}}">
                            {%endfor%}
                            </div>
							<input type="text" name="tag" id="tag-input" class="input-long" placeholder="엔터를 입력하여 태그를 등록하세요."/>
						</div>
					</div>
                    <div class="enroll-btn">
                        <button type="submit" id="save-walkroad-button">수정하기</button> 
                    </div>
                </div>
            </div>
        </form>
    </div>
</center>
<script src="{% static 'maps/js/update.js' %}"></script>
{% endblock content %}

