{% extends 'base.html' %}

{% load static %}

{% block content %}
<center>
    <div class="update_wrap">
        <p class="enroll-announce">🌱 산책로 정보 수정</p>
        <form id="update-form" method="POST" action="{%url 'maps:update' id=walkroad.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-box">
                <div class="input-box_wrap">
                    <div class="name-box">
                        <h4 class="title-name">작성자</h4>
                        <input type="text" name="username" id="username" class="input-mid-m input-name" value="{{ request.user.profile.username }}" disabled/>
                    </div>
                    <div class="title-desc-box">
                        <div class="title-box">
                            <h4 class="title-title">산책로 이름</h4>
                            <input type="text" name="title" id="title-input" class="input-mid-ml" value="{{ walkroad.title }}" />
                        </div>
                        <div class="desc-box">
                            <h4 class="title-desc">산책로 한 줄 소개</h4>
                            <input type="text" name="description" id="description-input" class="input-mid-ml" value="{{ walkroad.description }}"/>
                        </div>
                    </div>
                    <div class="start-fin-box">
                        <div class="start-box">
                            <h4 class="title-start">출발위치</h4>
                            <input type="text" name="start" id="start-input" class="input-mid-ml" value="{{ walkroad.start }}"/>
                        </div>
                        <div class="fin-box">
                            <h4 class="title-fin">도착위치</h4>
                            <input type="text" name="finish" id="finish-input" class="input-mid-ml" value="{{ walkroad.finish }}"/>
                        </div>
                    </div>
                    <div class="tmi-box">
                        <h4 class="title-tmi">TMI</h4>
                        <input type="text" name="tmi" id="tmi-input" class="input-long input-long-m" value="{{ walkroad.tmi }}"/>
                    </div>
                    <div class="thumbnail-box">
                        <h4 class="title-thumbnail">
                            썸네일
                            <input type="file" id="file" name="thumbnail" accept="image/*" hidden>
                            <label class="label-file" for="file">choose file</label>
                        </h4>
                        
                            {% if walkroad.thumbnail %}
                                <img class="preview" src="{{ walkroad.thumbnail.url }}" width="300">
                            {% endif %}
                        
                    </div>
                    <div class="enroll-btn">
                        <button type="submit" id="save-walkroad-button">수정하기</button> 
                    </div>
                </div>
            </div>
        </form>
    </div>
</center>
<script>
    const reader = new FileReader();

    reader.onload = (readerEvent) => {
        document.querySelector(".preview").setAttribute("src", readerEvent.target.result);
    };

    document.querySelector("#file").addEventListener("change", (changeEvent) => {

        const imgFile = changeEvent.target.files[0];
        reader.readAsDataURL(imgFile);
        document.querySelector(".preview").style.display = "block";
    })
</script>
{% endblock content %}
