<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WalkBook</title>
  </head>
  <body>
    {% if user.is_authenticated %}
      <div>{{user.profile.username}}님 환영합니다.</div>
      <a href="{% url 'logout'%}?next={{request.path}}">로그아웃</a>
    {% else %} 
      <a href="{% url 'signup' %}?next={{request.path}}">회원가입</a>
      <a href="{% url 'login'%}?next={{request.path}}">로그인</a>
    {% endif %} 
    <a href="{% url 'maps:map' %}">map</a>
    <a href="{% url 'maps:post' %}">post</a>
    <a href="{% url 'maps:new' %}">new</a>
    <a href="{% url 'mypage:index' %}">mypage</a>

    {% block content %}
    {% endblock %}
  </body>
</html>
