<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>WalkBook</title>
    {% load static %}
    {% comment %} 파비콘 {% endcomment %}
    <link rel="icon" type="image/x-icon" href="{% static 'maps/img/fav/favicon.ico' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'maps/img/fav/favicon.ico' %}">
    {% comment %} 기본 {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/variables.css' %}"/>
    {% comment %} 컴포넌트 {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/components/nav_bar/nav_bar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/components/components.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/components/line/line-short.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/components/line/line-mid.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/components/line/line-long.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/components/input/input-short.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/components/input/input-mid.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/components/input/input-long.css' %}"/>
    {% comment %} 스크린 {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/screens/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/screens/map.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/screens/new.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/screens/show.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'maps/scss/screens/update.css' %}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-deep_purple.min.css" />
    {% block style %}{% endblock style %}
  </head>

  <body>
    <header class="base-header"> 
      <div class="wrap-header">
        <div class="header-search">
          <a href="/"><img class="logo-img" src="{% static 'maps/img/logo.png' %}" /></a>
          <a href="{% url 'maps:map' %}">지도에서 찾기</a>
          <a href="{% url 'maps:post' %}">게시판에서 찾기</a>
        </div>
        <div class="header-accounts">
          {% if request.user.is_authenticated %}
            <a class="suggest" href="{% url 'maps:new' %}">산책로 등록</a>
            <a class="mypage" href="{% url 'mypage:mypage' request.user.id %}">나의 워크북</a>
            <a class="logout" href="{% url 'logout'%}">로그아웃</a>
          {% else %}
            <a href="{% url 'login'%}?next={{request.path}}">로그인</a>
            <a href="{% url 'signup' %}?next={{request.path}}">회원가입</a>
          {% endif %}
        </div>
      </div>
    </header>
    {% block content %}{% endblock %}
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="{% static 'maps/js/axios.js' %}"></script>
  </body>

</html>
