<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>WalkBook</title>
    {% load static %}
    {% load sass_tags %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'maps/scss/style.scss' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-deep_purple.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script> 
</head>
    {% block style %}{% endblock style %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  </head>

  <body>
    <header class="base-header"> 
      <div class="wrap-header">
        <div class="header-search">
          <a href="/"><img class="logo-img" src="{% static 'maps/img/logo.png' %}" /></a>
          <a href="{% url 'maps:map' %}">지도에서 찾기</a>
          <a href="{% url 'maps:post' %}">게시판에서 찾기</a>
        </div>
        <div class="header-accounts">
          {% if user.is_authenticated %}
            {% comment %} <div>{{user.profile.username}}님 환영합니다.</div> {% endcomment %}
            <a class="suggest" href="{% url 'maps:new' %}">산책로 등록</a>
            <a class="mypage" href="{% url 'mypage:mypage' %}">마이페이지</a>
            <a class="logout" href="{% url 'logout'%}?next={{request.path}}">로그아웃</a>
            {% comment %} <a href="{% url 'checkpw'%}">내 정보수정</a> {% endcomment %}
          {% else %}
            <a href="{% url 'login'%}?next={{request.path}}">로그인</a>
            <a href="{% url 'signup' %}?next={{request.path}}">회원가입</a>
          {% endif %}
        </div>
      </div>
    </header>
    {% block content %}{% endblock %}
  </body>

</html>
